<h1>Edit this picture</h1>


<%= form_tag(picture_url(@picture.id), :method => "patch") do %>
  <div>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption, @picture. %>
  </div>
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source, @picture.source %>
  <div>
    <%= submit_tag "Update Picture" %>
  </div>
<% end %>


