<h1>List of Pictures</h1>

<%= link_to "Add a new picture", new_picture_url %>

<ul>
  <% @list_of_pictures.each do |pic| %>
    <li>
      <div>
        <img src="<%= pic.source %>" width="200">
      </div>
      <p><%= pic.caption %></p>
      <%= link_to "Show", picture_url(pic.id) %>
      <%= link_to "Edit", edit_picture_url(pic.id) %>
      <%= link_to "Destroy", picture_url(pic.id), :method => "delete" %>
    </li>
  <% end %>


  #can add options like Picture.where :caption => "5", :format => ".png", likes in past 24 hours >500, etc. etc., :order by- likes in past 24 hours desc)
</ul>
